[submodule "token-up"]
	path = token-up
	url = https://github.com/brownierin/token-up.git
[submodule "toorcon2019"]
	path = toorcon2019
	url = https://github.com/brownierin/toorcon2019.git
[submodule "cryptoscarf"]
	path = cryptoscarf
	url = https://github.com/brownierin/cryptoscarf.git
[submodule "static-analysis"]
	path = static-analysis
	url = git@github.com:brownierin/static-analysis.git
